{% load static %}
{% load database_extras %}

{% load static %}



{% block extra_head_content %}

{% endblock %}


<!doctype html>
<html class="fixed">
	<head>

	<!-- Basic -->
	<meta charset="UTF-8">

	<title>{%block title%}SmartDBA{%endblock%}</title>


	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/vendor/jstree/themes/default/style.css' %}"></script>
	<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" />
	<!--
		django-bootstrap-datepicker-plus 에서 달력 사용으로 주석 처리
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />
	-->

	<link rel="stylesheet" href="{% static 'assets/vendor/select2/select2.css' %}" />





	<link rel="stylesheet" href="{% static 'assets/stylesheets/theme.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />

	<link rel="stylesheet" href="{% static 'assets/stylesheets/skins/default.css' %}" />
	<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
	<link rel="stylesheet" href="{% static 'assets/stylesheets/theme-custom.css' %}">
	<link rel="stylesheet" href="{% static 'codemirror/theme/base16-light.css' %}">

	<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
	<script src="{% static 'codemirror/mode/sql/sql.js' %}"></script>

	<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />



	<!-- Head Libs -->
	<script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>








	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="{% url 'main' %}" class="logo">
						<!-- <img src="{% static 'custom/img/logo.png' %}" height="45" alt="Porto Admin" /> -->
						<img src="{% static 'custom/img/smartdba.png' %}" height="50" alt="Porto Admin" />
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>

				<!-- start: search & user box -->
				<div class="header-right">

					<span class="separator"></span>


					<div id="userbox" class="userbox">

						<a href="#" data-toggle="dropdown">
							<!-- <figure class="profile-picture">
								<img src="http://portal.gshs.co.kr{{user.email}}" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
							</figure> -->
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
								<span class="name">{{ user.first_name }}</span>
								<span class="role">{% if user.is_staff %}administrator{%endif%}</span>
							</div>
							<i class="fa custom-caret"></i>
						</a>
						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<!-- <li>
									<a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fa fa-user"></i> My Profile</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>
								</li> -->
								<li>
									<a role="menuitem" tabindex="-1" href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">

					<div class="sidebar-header">
						<div class="sidebar-title">

						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>

					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<br><br>

                                    <li id="" class="quick_link">
										<a href="{% url 'QuickLinkLV' %}">
											<i class="fa fa-external-link" aria-hidden="true"></i>
											<span>바로가기</span>
										</a>
									</li>


									<li id="menu1" class="data nav-parent">
										<a>
											<i class="fa fa-search" aria-hidden="true"></i>
											<span>데이터가 궁금해</span>
										</a>
										<ul class="nav nav-children">
												<li class="dataView">
													<a href="{% url 'dataView' %}">
														 01. 데이터 확인
													</a>
												</li>
												<li class="DataListCreateView">
													<a href="{% url 'DataListCreateView' %}">
														 02. 데이터 등록
													</a>
												</li>
												<li class="DataRequestLV">
													<a href="{% url 'DataRequestLV' %}">
														 03. 데이터 조회 권한 요청
													</a>
												</li>
                                            <li class="DataSearchLV">
													<a href="{% url 'DataSearchLV' %}">
														 04. 데이터 검색
													</a>
												</li>



										</ul>
									</li>

									<!-- <li id="menu5" class="executeSQL">
										<a href="{% url 'executeSQL' %}">
											<i class="fa fa-flask" aria-hidden="true"></i>
											<span>SQL 실행 </span>
										</a>
									</li> -->
									<li id="menu5" class="executeSQLLV">
										<a href="{% url 'executeSQLLV' %}">
											<i class="fa fa-youtube-play" aria-hidden="true"></i>
											<span>SQL 실행</span>
										</a>
									</li>

									<li id="menu13" class="TuningListLV">
										<a href="{% url 'TuningListLV' %}">
											<i class="fa fa-rocket" aria-hidden="true"></i>
											<span>SQL 튜닝 신청</span>
										</a>
									</li>

                                    <li id="menu11" class="ModelLV">
										<a href="{% url 'ModelLV' %}">
											<i class="fa fa-pencil" aria-hidden="true"></i>
											<span>데이터 모델(ERD)</span>
										</a>
									</li>

									<li id="menu13" class="MetaReqLV">
										<a href="{% url 'MetaReqLV' %}">
											<i class="fa fa-table" aria-hidden="true"></i>
											<span>테이블 변경 신청</span>
										</a>
									</li>

									<li id="menu10" class="stddata nav-parent">
										<a>
											<i class="fa  fa-file-word-o" aria-hidden="true"></i>
											<span>데이터 표준</span>
										</a>
										<ul class="nav nav-children">
												<li class="StdWordLV">
													<a href="{% url 'StdWordLV' %}">
														 01.표준 단어 신청 / 조회
													</a>
												</li>
												<li class="StdDomainLV">
													<a href="{% url 'StdDomainLV' %}">
														 02.표준 도메인 신청 / 조회
													</a>
												</li>
												<li class="StdDivAttrLV">
													<a href="{% url 'StdDivAttrLV' %}">
														 03.표준 용어 신청 / 나누기
													</a>
												</li>
										</ul>
									</li>
									<!-- <li id="menu11" class="stdmodel nav-parent">
										<a>
											<i class="fa  fa-camera-retro" aria-hidden="true"></i>
											<span>데이터 모델</span>
										</a>
										<ul class="nav nav-children">
												<li class="ModelSMTCPrd">
													<a href="{% url 'ModelSMTCPrd' %}">
														 01.SMTC - 상품
													</a>
												</li>
												<li class="ModelSMTCOrd">
													<a href="{% url 'ModelSMTCPrd' %}">
														 02.SMTC - 주문
													</a>
												</li>
										</ul>
									</li> -->



									<li id="menu10" class="dev nav-parent">
										<a>
											<i class="fa  fa-gears" aria-hidden="true"></i>
											<span>데이터베이스 정보</span>
										</a>
										<ul class="nav nav-children">
												<li class="TableListLV">
													<a href="{% url 'TableListLV' %}">
														 01.TABLE 확인 + 권한 신청
													</a>
												</li>
												<li class="ObjectListLV">
													<a href="{% url 'ObjectListLV' %}">
														 02.OBJECT 확인 + 권한 신청
													</a>
												</li>
												<li class="UserListLV">
													<a href="{% url 'UserListLV' %}">
														 03.개인계정 확인 + 활성화 신청
													</a>
												</li>
												<li class="GrantListLV">
													<a href="{% url 'GrantListLV' %}">
														 04.계정 권한 확인
													</a>
												</li>
												<li class="databaseList">
													<a href="{% url 'databaseList' %}">
														 05.DATABASE 정보
													</a>
												</li>
												<li class="databaseMap">
													<a href="{% url 'databaseMap' %}">
														 06.DATABASE 지도
													</a>
												</li>

												<div style="display:none">

												<li class="howDatabaseConn">
													<a href="{% url 'page404' %}">
														 (준비중) 02.DATABASE 접속 방법
													</a>
												</li>

												<li>
													<a href="{% url 'page404' %}">
														 (준비중) 05.DB 접속 개인 계정 상태 조회
													</a>
												</li>
												<li>
													<a href="{% url 'page404' %}">
														 (준비중) 06.DB 접속 개인 계정 권한 조회
													</a>
												</li>
												<li>
													<a href="{% url 'page404' %}">
														 (준비중) 07.SQL분석/권한신청
													</a>
												</li>
												</div>
										</ul>
									</li>

									<li id="menu15" class="dba nav-parent">
										<a>
											<i class="fa  fa-bank" aria-hidden="true"></i>
											<span>데이터베이스 모니터링</span>
										</a>
										<ul class="nav nav-children">
												<li class="DBAWorkLV">
													<a href="{% url 'DBAWorkLV' %}">
														 데이터베이스 모니터링
													</a>
												</li>												
												<li class="msaTable">
													<a href="{% url 'CreateDDLLV' %}">
														 데이터 모델 / 표준 자동화 TOOL
													</a>
												</li>
												{% comment %}
												<li class="msaTable">
													<a href="{% url 'ApiTest' %}">
														 API TEST
													</a>
												</li>
												{% endcomment %}
										</ul>										
									</li>
<!-- 
									<li id="menu15" class="dba">
										<a href="{% url 'DBAWorkLV' %}">
											<i class="fa  fa-bank" aria-hidden="true"></i>
											<span>Database 관리</span>
										</a>
									</li> -->








									<!-- <li id="menu6" class="NoActiveMenu">
										<a href="https://gsshop.workplace.com/groups/3266413300282019/" target="_blank">
											<span class="pull-right label label-primary">3</span>
											<i class="fa  fa-comments" aria-hidden="true"></i>
											<span>[질문] Q&A</span>
										</a>
									</li> -->


									<!-- <li class="nav-parent">
										<a>
											<i class="fa  fa-gear" aria-hidden="true"></i>
											<span>[관리자] DB관리</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="{% url 'page404' %}">
													 01.모니터링
												</a>
											</li>
											<li>
												<a href="{% url 'page404' %}">
													 02.형상관리
												</a>
											</li>
											<li>
												<a href="{% url 'page404' %}">
													 03.접속 계정 관리
												</a>
											</li>
											<li>
												<a href="{% url 'page404' %}">
													 04....
												</a>
											</li>
											<li>
												<a href="{% url 'page404' %}">
													 99. SQL 생성 (임시)
												</a>
											</li>
										</ul>
									</li> -->

								</ul>
							</nav>



							<hr class="separator" />

							<div class="sidebar-widget widget-tasks">
								<div class="widget-header">
									<h6>금주 정기반영 일자 / DBA</h6>
									<div class="widget-toggle">+</div>
								</div>
								<div class="widget-content">
									<ul class="list-unstyled m-none">
										<li><a href="#">{% get_dist_dtm as result %} {{result}} </a></li>
										<li><a href="#">{% get_dba as result %} {{result}} </a></li>
									</ul>
								</div>
							</div>

							<hr class="separator" />
							<br>
							<div class="sidebar-widget widget-tasks">
							<!-- <h6><a href="https://wiki.gsenext.com/pages/viewpage.action?pageId=30118797" target="blank"><font color=white><i class="fa  fa-external-link" aria-hidden="true"></i> SBC 내에서 느린 경우 (클릭)</font></a></h6> -->
							</div>


						</div>

					</div>

				</aside>


				<section role="main" class="content-body">
					{% block content %}{% endblock %}


				</section>
			</div>


		</section>

		<script type="text/javascript">
			$(document).ready(function(e){
				user_permission = '{{dashboard_data.user_permission}}';
				user_permission_minus = '{{dashboard_data.user_permission_minus}}';
				active_1st_menu = "{{template_parent}}";
				active_2st_menu = "{{template_child}}";

				console.log(active_1st_menu)
				console.log(active_2st_menu)

				$("."+active_1st_menu).addClass('nav-expanded nav-active');
				$("."+active_2st_menu).addClass('nav-active');

				// for ( item in user_permission )
				// {
				// 	$("#menu"+user_permission[item]).show()
				// }
				// for ( item in user_permission_minus )
				// {
				// 	$("#menu"+user_permission_minus[item]).hide()
				// }
			})

		    $(".NoActiveMenu").click(function(){
				$("."+active_1st_menu).removeClass('nav-expanded nav-active');
				$("."+active_2st_menu).removeClass('nav-active');
		    })
		</script>




		<script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>

		<!-- <script src="{% static 'custom/css/dataTables.bootstrap4.min.css' %}"></script> -->
		<script src="{% static 'assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'assets/vendor/nanoscroller/nanoscroller.js' %}"></script>

		<script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
		<script src="{% static 'assets/vendor/select2/select2.js' %}"></script>
		<script src="{% static 'assets/javascripts/theme.js' %}"></script>
		<script src="{% static 'assets/javascripts/theme.custom.js' %}"></script>
		<script src="{% static 'assets/javascripts/theme.init.js' %}"></script>
		<script src="{% static 'assets/javascripts/ui-elements/examples.modals.js' %}"></script>
		<script src="{% static 'assets/vendor/jstree/jstree.js' %}"></script>
		<script src="{% static 'assets/javascripts/ui-elements/examples.treeview.js' %}"></script>
		<script src="{% static 'assets/vendor/owl-carousel/owl.carousel.js' %}"></script>

		<script src="{% static 'assets/vendor/jquery-datatables/media/js/jquery.dataTables.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js' %}"></script>



		<script src="{% static 'maphilight/jquery.maphilight.min.js' %}"></script>


		<script src="{% static 'assets/javascripts/tables/examples.datatables.tabletools.js' %}"></script>

		<script src="{% static 'assets/vendor/jquery-validation/jquery.validate.js' %}"></script>
		<script src="{% static 'assets/javascripts/forms/examples.validation.js' %}"></script>



















	</body>
</html>