

{% extends "base.html" %}

{% load static %}


{% block title %}SmartDBA{% endblock %}


{%block content %}


<head>
    <style type="text/css">
        th, td { white-space: nowrap; }
    </style>
</head>

<header class="page-header">
    <h2>데이터 등록 승인</h2>
</header>


<!-- start: page -->
<form method="POST" action="#"  >

    {% csrf_token %}

    <section class="panel">
        <div class="panel-body">                
            <table class="table table-bordered table-striped mb-none csort" id="datatable-default" data-plugin-options='{"searchPlaceholder": "결과 내 검색"}'>
                <thead>                     
                    <tr>
                        <th style="text-align: center;">#</th>
                        <th style="text-align: center;">요청자</th>
                        <th style="text-align: center;">데이터베이스</th>
                        <th style="text-align: center;">제목</th>
                        <th style="text-align: center;">개인정보여부</th>                            
                        <th style="text-align: center;">성능승인</th>
                        <th style="text-align: center;">보안승인</th>
                        <th style="text-align: center;">등록자</th>
                        <th style="text-align: center;">등록일자</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in ds_data_list %}
                        <tr>
                            <td style="text-align: center;">{{data.id}}</td>
                            <td>{%for name in data.id_req_users.all%}{{name}} {%endfor%}</td>
                            <td style="width:50%"><a href="{% url 'DataListUpdateView_Approve' data.id %}">{{data.data_title|truncatechars:70}}</a></td>                            
                            <td style="text-align: center;">{{data.id_dblist.db_use}}</td>
                            <td style="text-align: center;">{{data.get_privacy_yn_display}}</td>
                            <!-- <td style="text-align: center;">{{data.title}}</a></td> -->
                            <td style="text-align: center;">{{data.get_prov_yn2_display}}</td>
                            <!-- <td style="text-align: center;">{{data.id_tuning_user|default_if_none:""}}</td> -->
                            <td style="text-align: center;">{{data.get_prov_yn1_display}}</td>
                            <td style="text-align: center;">{{data.id_reg_user}}</td>
                            <td style="text-align: center;">{{data.reg_dtm|date:"Y/m/d"}}</td>     
                        </tr>                   
                    {% endfor %}
                </tbody>
            </table>
            <!-- <br>
            <div class="pull-right">
                <a id="btn_sql" class="btn_sql mb-xs mt-xs mr-xs btn btn-sm btn-primary" href="{% url 'TuningListCreateView' %}" > <i class="fa fa-youtube-play"></i> SQL성능개선 요청하기</a>
            </div> -->
        </div>
    </section>


<!-- end: page -->

<script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
<script src="{% static 'assets/vendor/select2/select2.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-datatables/media/js/jquery.dataTables.js' %}"></script>        
<script src="{% static 'assets/vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>      
<script src="{% static 'assets/javascripts/theme.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'custom/js/cookie.js' %}"></script>
        
<script>
    $('#datatable-default').DataTable({
            responsive: true,
            "pageLength": 50,
            "order": []
        });
</script>




{%endblock%}





